.ButtonLink {
  width: 350px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #724CF9;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.70) 100%), #FFF;
  color: #724CF9;

  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}