// fonts
$logo-font: TT_Rounds_Neue, serif;
$accent-font: "Raleway", sans-serif;
$main-font: "Nunito", sans-serif;

$logo-font-size: 2rem;
$small-font-size: 0.778rem;

// colors
$red-logo: #FF6B6B;
$yellow-logo: #FFDD00;
$green-logo: #45CB85;
$viol-logo: #724CF9;

$accent-color: $viol-logo;
$main-dark: #242424;
$secondary-dark: #1d1d1d;
$main-light: #fcfcfc;
$secondary-light: #fafafa;

$border-color: #1d1d1d50;
