.Main {
  background-image:
          linear-gradient(to bottom, rgba(241, 237, 254, 0.00) 90%, #F1EDFE 100%),
          url("../../images/main_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 800px rgba(114, 76, 249, 0.30);
  position: relative;
  z-index: -1;
  width: 100%;
  height: 800px;

  display: flex;
  align-items: center;
  justify-content: center;

  .heartShape {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
      max-width: 740px;
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        color: #724CF9;
        text-align: center;
        font-size: 62px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      button {
        color: rgba(255, 255, 255, 0.80);
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        width: 350px;
        height: 60px;
        border-radius: 50px;
        border-style: none;
        background: #724CF9;
      }
    }

    svg {
      position: relative;
      z-index: 1;
    }
  }
}