.Dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;

  .Dropdown-article {
    height: 65px;
  }
  .Dropdown-content {
    position: absolute;
    top: 180%;
    left: -10%;
    width: 100%;
    padding: 0 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .Dropdown-option {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
}