@import "../../../scss_utils/vars";

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Projects-Spoiler {
    color: $accent-color;
    text-align: center;

    .Arrow-Down {
      border: solid $accent-color;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 5px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  .Projects-Spoiler:hover {
    .Spoiler-P {
      font-weight: 700;
    }
    .Arrow-Down {
      border-width: 0 2px 2px 0;
    }
  }
  .Projects-Title {
    margin: 10px 0 50px 0;
  }

  .Projects-Grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}