@import "../../../scss_utils/vars";

.Team {
  display: flex;
  flex-direction: column;
  align-items: center;
  .Team-Spoiler {
    color: $accent-color;
  }
  .Team-Title {
    margin-bottom: 50px;
  }
  .Team-Grid {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    //grid-template-columns: repeat(4, 1fr);
  }
}